@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Expense" asp-action="Index" class="btn btn-primary">Expenses</a>
    <a asp-controller="Expense" asp-action="CreateEditExpense" class="btn btn-primary">Create New</a>
    </div>